In [4]:
import psycopg2

In [5]:
pgcon = psycopg2.connect(
    host = 'localhost',
    database = 'postgres',
    user = 'xin',
    password = '1',
    port = '5432'
    
)

In [6]:
print(pgcon)

<connection object at 0x1033efeb0; dsn: 'user=xin password=xxx dbname=postgres host=localhost port=5432', closed: 0>

In [7]:
sql_query = '''
    Create Table Customer(
        Id int primary key not null,
        name text not null,
        age int not null,
        address char(100),
        loan_amount real
    )
'''

In [8]:
pointer = pgcon.cursor()
pointer

In [9]:
pointer.execute(sql_query)

In [10]:
pointer.close()